<!DOCTYPE html>
<html>
<head>
  <title>LinometricsClient</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://localhost:3000/linometrics_track.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script>
  linometrics_track( 'linometrics-client', 'pageload', 'some value', 'some other value');
</script>

</body>
</html>
